jax==0.8.0
jaxlib==0.8.0
mujoco==3.3.7
mujoco-mjx==3.3.7
brax==0.13.0
playground==0.0.4
numpy
matplotlib
etils
orbax
ml-collections
# torch
opencv-python
noise
alive-progress
mediapy
pillow
absl-py
pyyaml
typing-extensions
# mujoco-warp